div#arduino-updater-page(data-role='page')
  div(data-theme=theme.headerSwatch, data-role='header')
    a(href='#index', data-role='button', data-icon='arrow-l', data-iconpos='left',
      data-inline='true', data-transition="slide", data-direction="reverse")=__('Back')
    h3=__('Arduino Updater')
  div.ui-content.overthrow
    ul#registered-plugins-list(data-role='listview', data-bind="foreach: registeredPlugins")
      li
        div
          span=__('Plugin: ')
          span.name(data-bind='text: name')
        <!-- ko if: updateRequired  -->
        div
          span=__('Update available')
        <!-- /ko -->
        span.buttons
          a.inline.ui-btn.ui-mini.ui-btn-inline.ui-corner-all(data-bind="")=__('Flash')
          div.inline.ui-mini.ui-checkbox
            label.ui-btn.ui-corner-all.ui-btn-inherit.ui-btn-icon-left(data-bind="click: $root.onCheckboxChange")=__('Automatic updates')
            input(type="checkbox", data-bind="jqmchecked: whiteListState, click: $parent.onUpdateKlicked" data-enhanced="true")
        div
          span=__('Board: ')
          span.board(data-bind='text: board')
        div
          span=__('Port: ')
          span.port(data-bind='text: port')
        div
          span=__('Uploader: ')
          span.board(data-bind='text: uploader')
        div
          span=__('Hexfile: ')
          span.board(data-bind='text: file')